In [155]:

import json
fd = open("record.json",'r')
r=fd.read()
fd.close()
record = json.loads(r)

prod_id = str(input("Enter product id:"))
Product_name = str(input("Enter the name:"))
Price = int(input("Enter the price:"))
quantity = int(input("Enter the quantity:"))

if prod_id in record: 
     record[prod_id]["quantity"] = int(record[prod_id]['quantity']) + quantity
     quantity = record[prod_id]["quantity"]

if prod_id not in record: 
   {prod_id : {'Product_name':Product_name ,'price':price,'quantity':quantity}}
   record[prod_id] = {'Product_name':Product_name ,'Price':Price,'quantity':quantity}

Enter product id:1013
Enter the name:Oil
Enter the price:220
Enter the quantity:4

In [156]:

record

{' 1012': {'Price': 500, 'Product_name': 'Watch', 'quantity': 25},
 '1001': {'Price': 30, 'Product_name': 'Note', 'quantity': 120},
 '1002': {'Price': 10, 'Product_name': 'Pen', 'quantity': 100},
 '1003': {'Price': 15, 'Product_name': 'Pencil', 'quantity': 50},
 '1004': {'Price': 300, 'Product_name': 'Headset', 'quantity': 30},
 '1005': {'Price': 50, 'Product_name': 'Dark chocolate', 'quantity': 80},
 '1006': {'Price': 20, 'Product_name': 'Biscuit', 'quantity': 76},
 '1007': {'Price': 30, 'Product_name': 'Juice', 'quantity': 60},
 '1008': {'Price': 200, 'Product_name': 'Cake', 'quantity': 24},
 '1009': {'Price': 20, 'Product_name': 'Chocolate', 'quantity': 80},
 '1010': {'Price': 30, 'Product_name': 'Chips', 'quantity': 88},
 '1011': {'Price': 100, 'Product_name': 'Fruit jam', 'quantity': 50},
 '1013': {'Price': 220, 'Product_name': 'Oil', 'quantity': 54},
 '1014': {'Price': 50, 'Product_name': 'Noodles', 'quantity': 130},
 '1015': {'Price': 70, 'Product_name': 'Rice', 'quantity': 59},
 '1016': {'Price': 20, 'Product_name': 'Dairy milk', 'quantity': 70},
 '1017': {'Price': 40, 'Product_name': 'Oats', 'quantity': 40},
 '1018': {'Price': 50, 'Product_name': 'Dark fantasy biscuit', 'quantity': 50},
 '1019': {'Price': 25, 'Product_name': 'Pop corn', 'quantity': 60},
 '1020': {'Price': 20, 'Product_name': 'Milk', 'quantity': 70},
 '1021': {'Price': 20, 'Product_name': 'Curd', 'quantity': 60},
 '1022': {'Price': 90, 'Product_name': 'Butter', 'quantity': 20},
 '1023': {'Price': 50, 'Product_name': 'Ketchup', 'quantity': 70},
 '1024': {'Price': 70, 'Product_name': 'Ice cream', 'quantity': 48},
 '1025': {'Price': 240, 'Product_name': 'Dry fruit', 'quantity': 43},
 '1026': {'Price': 20, 'Product_name': 'Toothbrush', 'quantity': 100},
 '1027': {'Price': 46, 'Product_name': 'Toothpaste', 'quantity': 50},
 '1028': {'Price': 20, 'Product_name': 'Kitkat', 'quantity': 100},
 '1029': {'Price': 60, 'Product_name': 'Dove soap ', 'quantity': 33},
 '1030': {'Price': 80, 'Product_name': 'Dove shampoo', 'quantity': 20},
 '1031': {'Price': 120, 'Product_name': 'Apple', 'quantity': 30},
 '1032': {'Price': 20, 'Product_name': 'Mask', 'quantity': 125},
 '1033': {'Price': 10, 'Product_name': 'Gum', 'quantity': 38},
 '1034': {'Price': 300, 'Product_name': 'Charger', 'quantity': 20},
 '1035': {'Price': 280, 'Product_name': 'Perfume', 'quantity': 13}}

In [157]:
import pandas as pd

df = pd.DataFrame(record)
display(df)

              1001 1002    1003     1004  ...  1032 1033     1034     1035
Product_name  Note  Pen  Pencil  Headset  ...  Mask  Gum  Charger  Perfume
Price           30   10      15      300  ...    20   10      300      280
quantity       120  100      50       30  ...   125   38       20       13

[3 rows x 35 columns]

In [158]:
js= json.dumps(record)
fd=open("record.json",'w')
fd.write(js)
fd.close()

**product purchasing**